<h1>{{ livre.titre }}</h1>
<h2>Auteur: {{ livre.auteur }}</h2>
<h2>Genre: {{ livre.genre }}</h2>
<h2>Publié en: {{ livre.annee_publication }}</h2>
<h2>Nombre de pages: {{ livre.nombre_pages }}</h2>
<h2>Résumé: {{ livre.resume }}</h2>
<h2>Éditeur: {{ livre.editeur }}</h2>
<div>ISBN: {{ livre.isbn }}</div>
<div>Nombre d'exemplaires: {{ livre.nombre_exemplaires }}</div>
<div>Cote: {{ livre.cote }}</div>