<h1>{{ livre.titre }}</h1>
<h5>Auteur: {{ livre.auteur }}</h5>
<h5>Genre: {{ livre.genre }}</h5>
<h5>Publié en: {{ livre.annee_publication }}</h5>
<h5>Nombre de pages: {{ livre.nombre_pages }}</h5>
<h5>Résumé: {{ livre.resume }}</h5>
<h5>Éditeur: {{ livre.editeur }}</h5>
<div>ISBN: {{ livre.isbn }}</div>
<div>Nombre d'exemplaires: {{ livre.nombre_exemplaires }}</div>
<div>Cote: {{ livre.cote }}</div>
<a href="/catalogue">catalogue</a>